{% extends 'users/base.html' %}
{% load static %}
{% block navbar %}
{% if logged %}
	{% if ut == 'owner' %}
	    <div class="navbar-start">
		    <a class="navbar-item" style="color: blue;"  href="{% url 'renting:home' %}">
		        Home
		    </a>
		    <a class="navbar-item" style="color: blue;" href="{% url 'renting:rent_ad_list' %}">
		        My Rent Ads
		    </a>
	    </div>
 	    <div id="dd-ll" class="navbar-item  is-hoverable" style=" background-color: #2E2A3B;">
	        <a style="color: blue;">
	         LandLord
	        </a>
			
	        <!-- <div class="navbar-dropdown" style=" background-color: #2E2A3B;">
	          <a style="color:blue;" class="navbar-item" id='tt'>
	           Student
	          </a>
	        </div> -->
	    </div> 
	{% elif ut == 'tenant' %}
	    <div class="navbar-end">
		    <div id="dd-tt" class="navbar-item is-hoverable" style=" background-color: #2E2A3B;">
		        <a style="color: blue;">
		        Student
		        </a>
		        <!-- <div class="navbar-dropdown" style=" background-color: #2E2A3B;">
			        <a style="color: blue;" class="navbar-item" id='ll'>
			         LandLord
			        </a>
		        </div> -->
		    </div> 
	    </div>
	{% endif %}
{% else %}
<div class="navbar-item">
	<h6 class="title wlc-title" style="color: #ffff;">Welcome...!! Post your rent ad.</h6>
</div>
{% endif %}
{% endblock navbar %}
{% block body %}


<div class=" container" >

	<div class="columns mt-1 is-centered " style="position: relative; top:20px;" id='hm-h-t-div' >
		{% if logged and ut == 'tenant'%}
			<div class="column is-one-third">
				<a id='otner' class="button is-medium is-fullwidth is-light" style="background-color: blue; color: wheat;" href="{% url 'renting:post_rent_ad' %}">
					I'm a 
				</a>
			</div>
		{% elif logged and ut == 'owner'%}
			<div class="column is-one-third">
				<a id='otner' class="button is-medium is-fullwidth is-warning " style="background-color: blue; color: wheat;" href="{% url 'renting:post_rent_ad' %}">
					Post Rent Ad
				</a>
			</div>
		{% else %}
			<div class="column is-one-third">
				<a id='owner' class="button is-medium is-fullwidth is-warning" style="background-color: blue; color: wheat;" href="{% url 'renting:post_rent_ad' %}">
					Post Rent Ad
				</a>
			</div>
		{% endif %}
	</div>
	
	<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiY2Vhc2FyMTUiLCJhIjoiY2twZnhiZnYxMG50YjJwbzQyYTdrbzJhbCJ9.nsgEFT67yL9ApSnvihlSuA';
	var geocoder = new MapboxGeocoder({
		accessToken:mapboxgl.accessToken,
		mapboxgl:mapboxgl,
		placeholder:'Search the City or Place name'
	})
	geocoder.addTo('#geocoder');
	$(function(){
		$('.mapboxgl-ctrl-geocoder--input').attr('name','place');	
		$('.mapboxgl-ctrl-geocoder').css('max-width','none');
	});
			
	
	$(function(){
		// bulma carousel settings
		bulmaCarousel.attach('#carousel-demo', {'autoplay':true, 'infinite':true, });
		// $('.mapboxgl-ctrl-geocoder').on('click', function(){
		// 	// $('.mapboxgl-ctrl-geocoder').css()
			
		// 	$(this).css('box-shadow','0 1px 5px rgba(81, 203, 238, 1)');

		$('#rt-srch').on('click',function(){
			if($('.mapboxgl-ctrl-geocoder--input').val()==''){
				$('.mapboxgl-ctrl-geocoder').append('<h6 class="mt-1 ml-1 has-text-danger">Place name cannot be empty</h6>');
				$('.mapboxgl-ctrl-geocoder--input').css('box-shadow','0 0 5px 1px rgba(255, 0, 0, 1)');
			}
		})

		$('.mapboxgl-ctrl-geocoder--input').on('keydown', function(){
			$('html, body').animate({
				'scrollTop': $('#geocoder').position().top
			});
			$('.mapboxgl-ctrl-geocoder--input').css('box-shadow','none');
			$('.mapboxgl-ctrl-geocoder').find('h6').remove();
		})


	});
	</script>

</div>

{% endblock body %}