<div>
    <form method="POST" id="forms" enctype="multipart/form-data">       
        {% csrf_token %}
            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                <label for="fullname">Full Name</label>
                <input class="input100" type="text" id="fullname" name="fullname" placeholder="Full Name" required>
            </div>
            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                <label for="email">Email</label>
                <input class="input100" type="email" id="email" name="email" required>
                
            </div>
            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                <label for="mobile_number">Mobile Number</label>
                <input class="input100" type="text" id="mobile_number" name="mobile_number" placeholder="Mobile Number" maxlength="10" required>
    
            </div>
            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                <label for="amount">Amount</label>
                <input class="input100" type="number" id="amount" name="amount" placeholder="Amount" min="1" required>
            </div>
            
            <div class="container-login100-form-btn p-t-10">
                <script src="https://js.paystack.co/v1/inline.js"></script>
                <button class="login100-form-btn" type="button" onclick="payWithPaystack()" >Pay</button>
            </div>
        </form>
        
    </div>
    
    <script>
        function payWithPaystack(){
            var fullname = document.getElementById("fullname").value;
            var email = document.getElementById("email").value;
            var mobile_number = document.getElementById("mobile_number").value;
            var amount = document.getElementById("amount").value;
      
            var handler = PaystackPop.setup({
              key: 'pk_test_c67af25f5c63f4500477a93ce4ca5221e5a758a3',
              email: email,
              amount: amount * 100,
              currency: "GHS",
              ref: ''+Math.floor((Math.random() * 10000000000) + 1), 
              metadata: {
                  custom_fields: [
                  {
                      display_name: "Name",
                      variable_name: "fullname",
                      value: fullname
                  },
                  {
                      display_name: "Mobile Number",
                      variable_name: "mobile_number",
                      value: mobile_number
                  }
               ]
            },
            callback: function(response){
              ref = response.reference
              // window.location ="{% url 'student:studentDashboard' %}";
              document.getElementById("forms").submit();
              alert('Transaction was successful. Reference: ' + response.reference);
              
            },
            onClose: function(){
                alert('Transaction Cancelled!');
            }
          });
          handler.openIframe();
        }
      </script>
    